{% extends 'base.html' %}
{% block title %}
Data Logger Dashboard
{% endblock %}

{% block extra_css %}
<style>
    .chart-container {
        width: 33%;
        height: 300px;
        float: left;
        background-color: #333;
        /* Dark background for the chart containers */
        padding: 10px;
        box-sizing: border-box;
    }
    .container-lastvalues {
        width: 33%;
        height: 250px;
        float: left;
        background-color: #333;
        /* Dark background for the chart containers */
        padding: 10px;
        box-sizing: border-box;
    }
    .lastvalues-container {
        width: 33%;
        height: 300px;
        float: left;
        background-color: #333;
        /* Dark background for the chart containers */
        padding: 10px;
        box-sizing: border-box;
    }
</style>
{% endblock %}

{% block content %}
<div style="background-color: #222222; color: #ffffff; padding: 20px; height: 100vh;">
    <h2 style="text-align: center;">Select a Trip</h2>
    <label for="trip-select" style="display: block; margin-bottom: 10px;">Select a trip:</label>
    <select id="trip-select" name="trip" style="width: 100%; padding: 10px;">
        {% for trip in trips %}
            <option value="{{ trip.id }}">{{ trip.name }}</option>
        {% endfor %}
    </select>
    <!-- Add a button that redirects to /monitoring_trip/(id of the selected trip) -->
    <button id="go-button" style="margin-top: 20px; padding: 10px; width: 100%;">Go</button>
</div>

<script>
    document.getElementById('go-button').addEventListener('click', function() {
        // Get the selected trip id
        var tripId = document.getElementById('trip-select').value;
        // Redirect to /monitoring_trip/(id of the selected trip)
        window.location.href = "{% url 'monitoring_trip' 0 %}".replace('0', tripId);
    });
</script>
{% endblock %}
